.teclado {
    margin-top: 50px;

    button {
        background-color: white;

        border: none;
        border: 1px solid grey;
        padding: 10px;
        width: 65px;
        border-radius: 5px;
        font-size: 25px;
        cursor: pointer;

    }

    button:hover {
        transform: scale(1.2);
    }
}