.palabras {
    width: 700px;
    padding-top: 200px;
    margin-left: -200px;

    span {
        font-size: 50px;
        margin-left: 20px;
    }
}


@media (max-width: 1346px) {
    .palabras {
        padding-top: 20px;
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .palabras {


        span {
            font-size: 40px;
            margin-left: 15px;
        }
    }
}